<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FRANCICHEF</title>
    <!-- SOCIAL -->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8268944a-900a-49af-a556-4374bbb32b03", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <!-- JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- SLIDER REVOLUTION -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/rs-plugin/css/style.css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/rs-plugin/css/settings.css" media="screen" />
    <!-- LIGHTBOX -->
    <link href="{{STATIC_URL}}/lightbox/css/lightbox.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}/lightbox/js/lightbox.min.js"></script>

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet" type="text/css">
    <!-- FONT AWESOME -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	  
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/stile.css" rel="stylesheet">

  </head>
  <body>


  <!-- MENUTO -->
    {% include "componenti/menutop.html" %}
  <!-- MENU TOP FINE -->






{% block content %}

{% endblock %}


	



<footer>
  <div class="col-sm-12 footerok">
    <div class="container" style="margin-top:0px; background-color: #ffffff">
        <div class="col-xs-12 col-sm-3 col-md-1 col-xs-1">
            <img src="{{STATIC_URL}}/img/logofooter.jpg" class="logofooterx">
        </div>
        <div class="col-xs-12 col-sm-7" style="padding-top:40px; padding-left: 40px"><p style="color: #999999; font-size: 15px; paddingt-top: 20px;">CHEF FRANCESCA MARSETTI - Via Risorgimento, 62 - 25049 CLUSANE DI ISEO (BS)<br>Tel. +39.339.7852557 mail: franchbg@libero.it  -  P.Iva: 03123980983</p></div>

        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
            <img src="{{STATIC_URL}}/img/fork.jpg" class="img-responsive" style="margin-bottom: 0px; margin-left: -20px;">
        </div>
        <div class="col-xs-12"><p class="designedby"><a href="http://www.graficapassword.it" target="_Blank">Designed by grafica<b>PASSWORD</b></a></p></div>
    </div>
  </div>

</footer>

<!-- ANALYTICS -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32449250-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39623038-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- FINE ANALYTICS -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
  </body>
</html>