{% extends "base.html" %}

{% block content %}


<div class="container containerdettaglio">

<div class="row rowdettaglio">
		{% if post.galleria.all %}
			{% include "componenti/revolution.html" %}
		{% endif %}

	<div class="col-md-12" style="background-color: #ffffff">
	 <h4 class="cate">{{post.categoria.titolo}}</h4>
		
		<div class="col-md-12">
			<h1>{{post.titolo}}</h1>
			<hr>
			{% if post.pagrai == 1 %}

				{% include "componenti/videorai.html" %}

			{% elif post.pagvimeo == 1%}
				{% include "componenti/videovimeo.html" %}

			{% elif post.pagrice == 1%}
				{% include "componenti/ricettario.html" %}

			{% else %}
				<p>{{ post.body|safe }}<p>

				{% include "componenti/thumbgallery.html" %}

			{% endif %}


			<!-- RICHIEDI CHEF A DOMICILIO -->
			{% if post.id == 12 %}
				{% include "prenota.html" %}
			{% endif %}
			<!-- FINE RICHIEDI CHEF A DOMICILIO -->
		
			{% include "componenti/social.html" %}

		</div>

	</div>


</div><!-- ROW -->


</div><!-- CONTAINER -->


{% include "componenti/menutopsmall.html" %}

{%  endblock %}